
#blog-title {
  padding: 24px 0;
}

#title a {
  width: 320px;
  height: 70px;
}


#blog-description {
  padding: 4px 0 0 8px;
}



.hatena-module-body .circle-urllist .circle-image {
  float: none;
}


.hatena-module-related-entries {
  display: none;
}




#top-box .breadcrumb {
  margin-bottom: 0!important;
  padding-top: 4px!important;
  padding-bottom: 4px!important;
}




/* footer 関連記事 */

#relateArticle ul li {
  overflow: hidden;
  zoom: 1;
}

#relateArticle ul li img {
  width: 30%;
}



@media (max-width: 959px) {

  #blog-title-content {
    text-align: center;
  }

}