
#blog-title {
  padding: 24px 40px;
}

#title a {
  width: 320px;
  height: 70px;
}

@media screen and (max-width: 991px) {
  #title a {
    margin: 0 auto;
  }
}


#blog-description {
  padding: 4px 0 0 8px;
}

/* 記事内タイトル */
.entry h3 {
  font-size: 1.4rem;
}

.entry h4 {
  font-size: 1.2rem;
}

/* 関連記事 */
#relateArticle .related-entries-image {
  width: 140px;
}

/* 参加グループ（サイドバー） */
.hatena-module-circles li {
  display: flex;
  align-items: center;
}