
.header-blog-icon {
  display: none;
}

#title a {
  width: 211px;
  height: 47px;
  margin: 0 auto;
}

#blog-description {
  background: initial;
  border: 0;
}

.entry-content h2 {
  margin-top: 3em!important;
}