
#title a {
  display: block;
  
  background-image: url(https://gadget-r.github.io/assets/images/logo.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
}

/* カエレバ */
.kaerebalink-box {
  border: 1px solid #e4e4e4;
  border-left: 0;
  border-right: 0;
  padding: 20px 0;
}

.kaerebalink-box + .kaerebalink-box {
  border-top: 0;
}

.kaerebalink-name {
  margin-bottom: 20px!important;
}

.kaerebalink-name + a {
  line-height: 1.7;
}

.kaerebalink-powered-date {
  font-size: 10px!important;
  color: #ddd;
}

.kaerebalink-powered-date a {
  color: #ddd;
}