


#title {
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

#title a {
  display: block;
  
  background-image: url(https://gadget-r.github.io/assets/images/logo.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
}





.kaerebalink-powered-date {
  font-size: 10px!important;
  color: #ccc;
}