
#title a {
  display: block;
  
  background-image: url(https://gadget-r.github.io/assets/images/logo.png);
  background-repeat: no-repeat;
  background-size: 100% auto;

  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

/* 記事内タイトル */
.entry h2 {
  border-bottom: 1px solid #fe0001;
}

.entry h3 {
  border-left: 3px solid #fe0001;
  padding-left: 10px;
}

/* マーカー */
.marker-red {
  background: linear-gradient(transparent 75%, #ff9393 75%);
  font-weight:bold;
}

.marker-blue {
  background: linear-gradient(transparent 75%, #9eceff 75%);
  font-weight:bold;
}

.marker-yellow {
  background: linear-gradient(transparent 75%, #edde7b 75%);
  font-weight:bold;
}

/* カエレバ */
.kaerebalink-box {
  border: 1px solid #e4e4e4;
  border-left: 0;
  border-right: 0;
  padding: 20px 0;
}

.kaerebalink-box + .kaerebalink-box {
  border-top: 0;
}

.kaerebalink-name {
  margin-bottom: 4px!important;
}

.kaerebalink-name a:first-child {
  line-height: 1.7;
}

.kaerebalink-powered-date {
  font-size: 10px!important;
  color: #ddd;
  margin-top: 0!important;
}

.kaerebalink-powered-date a {
  color: #ddd;
}

.kaerebalink-link1 {
  margin-top: 20px!important;
}